<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <form action="/result" method="POST">
    <div id="classMain">
       <div id="left">
            {% if mood %}
                <img src="{{imgUrl}}" alt="No Image">
                <br>
                {% else%}
                <img src="https://images.unsplash.com/photo-1585771724684-38269d6639fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="No Image">
                <br>
            {% endif %}
            <div id="inp">
            <div id="sel">
            <label for="language" id="label">Song Language: </label>
            <select name="language" id="lang">
                <option value="Hindi">Hindi</option>
                <option value="English">English</option>
                <option value="Kannada">Kannada</option>
            </select>
        </div>
        <button type="submit"  id="btn">Play</button>
    </div>
    </div>
    <div id="right">
                <p id="mood">Mood: {{mood}}</p>
                <p id="song">Playing Song: {{song}}</p>
                <p id="album">Album: {{AlbumName}}</p>
                <p id="playlist">Playlist: {{playlist}}</p>
    </div>
    </div>
    </form>
</body>
</html>